---
layout: default
---

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{page.header-image_path}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{page.title}}</h1>
                        <hr class="small">
                        <span class="subheading">{{page.subtitle}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	{% for post in site.posts %}
                <div class="post-preview">
                    <a href="{{ post.url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.description }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted on {{ post.date | date: "%d %B %Y" }}</p>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
               

<!--   <div class="pagination">
  	<ul class="pager">
  {% if paginator.next_page %}
   <li class="next"><a class="pagination-item older" href="{{ site.baseurl }}page{{ paginator.next_page }}">Older</a></li>
  {% else %}
    <li class="next"><span class="pagination-item older">Older</span></li>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <li class="next"><a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a></li>
    {% else %}
      <li class="next"><a class="pagination-item newer" href="{{ site.baseurl }}page{{ paginator.previous_page }}">Newer</a></li>
    {% endif %}
  {% else %}
    <li class="next"><span class="pagination-item newer">Newer</span></li>
  {% endif %}
  </ul>
</div>
 -->

            </div>
        </div>
    </div>